In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import dash

In [5]:
data = pd.read_excel("/home/donerick/CI-CD-and-DVC-for-ML-projects/dvc_github_actions_proj/DATA/processed/df_prepare.xlsx")
data.head(10)

,consommation_energie,classe_consommation_energie,estimation_ges,classe_estimation_ges,annee_construction,surface_thermique_lot,latitude,longitude,code_insee_commune_actualise,tv016_departement_code,geo_score,year,month
0,125.01,C,29.25,D,2005,81.59,45.948732,4.712394,69009,69,0.97,2015,10
1,56.92,B,3.20,A,2015,160.40,49.585247,0.729537,76398,76,0.95,2016,1
2,56.92,B,3.20,A,2015,160.40,49.585247,0.729537,76398,76,0.95,2016,1
3,233.16,E,49.85,E,1977,115.00,50.912965,1.815426,62360,62,0.96,2016,1
4,49.61,A,11.61,C,2015,2015.00,50.607502,3.061609,59220,59,0.96,2015,9
5,105.00,C,1.00,A,2006,69.29,43.632130,5.316108,13091,13,0.73,2020,10
6,199.00,D,41.00,E,1975,72.43,43.639250,3.864887,34172,34,0.76,2018,5
7,147.89,C,44.37,E,1948,134.83,45.951109,4.629556,69246,69,0.95,2018,9
8,484.90,G,15.79,C,1948,60.72,45.951109,4.629556,69246,69,0.95,2018,9
9,52.54,B,3.67,A,2008,22.50,43.459913,5.358617,13019,13,0.96,2021,1

In [ ]:
df = data.drop(columns=['numero_dpe', "nom_methode_dpe","version_methode_dpe",
                        "geo_adresse", 'tr002_type_batiment_description',
                        'tr001_modele_dpe_type_libelle'], axis=1)

df.head(10)

,date_etablissement_dpe,consommation_energie,classe_consommation_energie,estimation_ges,classe_estimation_ges,annee_construction,surface_thermique_lot,latitude,longitude,code_insee_commune_actualise,tv016_departement_code,geo_score
0,2015-10-07,125.01,C,29.25,D,2005,81.59,45.948732,4.712394,69009,69,0.97
1,2016-01-25,56.92,B,3.20,A,2015,160.40,49.585247,0.729537,76398,76,0.95
2,2016-01-25,56.92,B,3.20,A,2015,160.40,49.585247,0.729537,76398,76,0.95
3,2016-01-28,233.16,E,49.85,E,1977,115.00,50.912965,1.815426,62360,62,0.96
4,2015-09-02,49.61,A,11.61,C,2015,2015.00,50.607502,3.061609,59220,59,0.96
5,2020-10-09,105.00,C,1.00,A,2006,69.29,43.632130,5.316108,13091,13,0.73
6,2018-05-29,199.00,D,41.00,E,1975,72.43,43.639250,3.864887,34172,34,0.76
7,2018-09-17,147.89,C,44.37,E,1948,134.83,45.951109,4.629556,69246,69,0.95
8,2018-09-17,484.90,G,15.79,C,1948,60.72,45.951109,4.629556,69246,69,0.95
9,2021-01-18,52.54,B,3.67,A,2008,22.50,43.459913,5.358617,13019,13,0.96

In [ ]:
from tabulate import tabulate
df.describe(exclude='object')

,date_etablissement_dpe,consommation_energie,estimation_ges,annee_construction,surface_thermique_lot,latitude,longitude,geo_score
count,10000,10000.000000,10000.000000,10000.000000,10000.000000,8168.000000,8168.000000,10000.000000
mean,2017-09-21 14:20:58.560000,69.394509,7.294919,2015.441400,174.936832,47.284451,2.423420,0.613721
min,2013-06-28 00:00:00,-115.360000,0.000000,1.000000,0.000000,41.480909,-4.616028,0.000000
25%,2015-06-26 00:00:00,46.537500,2.220000,2015.000000,67.040000,46.359592,0.286888,0.370000
50%,2015-11-30 00:00:00,56.340000,3.800000,2015.000000,91.060000,47.906137,2.356555,0.720000
75%,2020-07-27 00:00:00,70.842500,10.840000,2020.000000,113.472500,48.698594,3.537088,0.950000
max,2021-06-04 00:00:00,606.000000,121.000000,2020.000000,7380.680000,50.912965,9.404533,0.990000
std,NaN,56.048860,7.305478,22.118913,433.537312,1.723763,2.258694,0.358064

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 13 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   consommation_energie          10000 non-null  float64
 1   classe_consommation_energie   10000 non-null  object
 2   estimation_ges                10000 non-null  float64
 3   classe_estimation_ges         10000 non-null  object
 4   annee_construction            10000 non-null  int64
 5   surface_thermique_lot         10000 non-null  float64
 6   latitude                      10000 non-null  float64
 7   longitude                     10000 non-null  float64
 8   code_insee_commune_actualise  9999 non-null   object
 9   tv016_departement_code        10000 non-null  object
 10  geo_score                     10000 non-null  float64
 11  year                          10000 non-null  int64
 12  month                         10000 non-null  int64
dtypes: float64(6), int64(3), object(4)
memory usage: 1015.8+ KB